<div class="container mx-auto px-4">
  <h1 class="text-2xl font-bold mb-4">Editing Station</h1>

  <%= render 'form', station: @station %>

  <div class="mt-4 flex space-x-2">
    <%= link_to 'Show', @station, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
    <%= link_to 'Back', stations_path, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
  </div>
</div>