<div class="container mx-auto px-4 py-8">
  <div class="max-w-2xl mx-auto">
    <h1 class="text-3xl font-bold text-gray-900 mb-6">Edit Label</h1>

    <%= render 'form', label: @label %>

    <div class="mt-6">
      <%= link_to 'Show', @label, class: "text-indigo-600 hover:text-indigo-900 mr-4" %>
      <%= link_to 'Back', labels_path, class: "text-indigo-600 hover:text-indigo-900" %>
    </div>
  </div>
</div>