<div class="flex flex-col w-64 bg-gray-800 h-screen">
  <div class="flex items-center justify-center h-20 shadow-md">
    <h1 class="text-3xl uppercase text-white">Libblock</h1>
  </div>
  <nav class="flex-grow">
    <ul class="flex flex-col py-4">
      <% [
        ['Lines', metro_lines_path],
        ['Stations', stations_path],
        ['Blocks', blocks_path],
        ['Users', users_path],
        ['Workflows', workflows_path],
        ['Environments', environments_path],
        ['Roles', roles_path],
        ['Views', views_path],
        ['Applications', applications_path],
        ['Labels', labels_path],
        ['Categories', categories_path]
      ].each do |title, path| %>
        <li>
          <%= link_to path, class: "flex items-center text-white opacity-75 hover:opacity-100 py-4 pl-6 nav-item" do %>
            <i class="fas fa-tachometer-alt mr-3"></i>
            <%= title %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </nav>
</div>